<!DOCTYPE html>
<html>
<head>
    <title>Your Monthly Report</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f5f5f5; color: #333333;">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#ffffff">
        <tr>
            <td style="padding: 40px;">
                <h3 style="margin: 0; color: #333333;">MusicFusion</h3>                
                <br>
                <h2 style="margin: 0; color: #333333;">Your Monthly Report</h2>
                <p style="margin-top: 20px; font-size: 16px;">Dear {{user["UserName"]}},</p>
                <p style="font-size: 16px;">We hope this email finds you well. Here's your monthly report for {{user["Year"]}}, {{user["Month"]}}.</p>
                <p style="font-size: 16px;">If you have any questions or need further assistance, please don't hesitate to contact us. We're always here to help!</p>
                <h3 style="font-size: 16px;"><strong>To access and review the report, please find the attachment linked</strong></h3>
                <p style="font-size: 16px;">Thank you for choosing us for showcasing your talent. We look forward to see you again!</p>
                <p style="font-size: 16px;">Best regards,</p>
                <p style="font-size: 16px;">Team MusicFusion </p>
            </td>
        </tr>
    </table>
</body>
</html>
