<!DOCTYPE html>
<html>
<head>
    <title>Reminder: Explore the Latest Music on Our Site!</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f5f5f5; color: #333333;">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#ffffff">
        <tr>
            <td style="padding: 40px;">
                <h3 style="margin: 0; color: #333333;">MusicFusion</h3>
                <br>
                <h2 style="margin: 0; color: #333333;">Reminder: Discover New Music and Artists Today!</h2>
                <p style="margin-top: 20px; font-size: 16px;">Dear {{user.UserName}},</p>
                <p style="font-size: 16px;">We hope this email finds you well. It's been a while since your last visit to MusicFusion, and we'd love to invite you back.</p>
                <p style="font-size: 16px;">Our website offers an extensive collection of the latest songs, albums, and playlists for you to explore.</p>
                <p style="font-size: 16px;">Come and immerse yourself in the world of music today.</p>
                <p style="margin-top: 30px;">
                    <a href="http://localhost:8080" style="background-color: #007bff; color: #ffffff; text-decoration: none; padding: 12px 24px; border-radius: 5px; font-size: 16px; display: inline-block; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);">Visit Website</a>
                </p>
                <p style="font-size: 16px;">Thank you for being part of the MusicFusion community. We're excited to have you back!</p>
                <p style="font-size: 16px;">Best regards,</p>
            </td>
        </tr>
    </table>
</body>
</html>
